.react-chatbot-kit-chat-container {
    box-shadow: 4px 10px 15px;
    
}

.react-chatbot-kit-chat-inner-container {
    background-color:rgb(238, 235, 235);
    border: solid 0px black;
    
}

.react-chatbot-kit-chat-header {
    justify-content: center;
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
    background-color: white;

    
}

.react-chatbot-kit-chat-input {
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
    
}

.react-chatbot-kit-chat-btn-send {

}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
}

.react-chatbot-kit-chat-bot-avatar-container {
    background-color:white;
    border: solid 1px #376B7E;
    border-radius: 8px;

}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
    color: black;
    font-style: italic;
}

.react-chatbot-kit-chat-bot-message {
        color: white;
        background-color: aliceblue;
}

.react-chatbot-kit-chat-bot-message-arrow {
    color: white;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}